<h1>Shelters</h1>
<div class="Shelters">
  <% @shelters.each do |shelter| %>
    <div id="shelter-id<%shelter.id%>">
      <ul>
        <li>
          <a href="/admin/shelters/<%=shelter.id%>">
            <%= shelter.name%>
          </a>
        </li>
      </ul>
    </div>
  <% end %>
</div>

<div class="pending_requests">
  <h1>Shelters with pending requests</h1>
  <% @pending.each do |shelter| %>
    <ul>
      <li>Shelter name:
        <%= shelter.name %></li>
    </ul>
  <% end %>
</div>
