<h1><%=@shelter.name%>
  Admin Page</h1>

<div class="shelter_statistics">
  <h3>Shelter Statistics</h3>
  <ul>
    <li>Average Age of Adoptable Pets:
      <%=@shelter.average_adoptable_age%> years old
      </li>
    <li>Number of Adoptable Pets:
      <%=@shelter.adoptable_pet_count%> Pets
      </li>
    </ul>
  </div>
