@import "bootstrap";



.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 3rem;
}

.navbar {
  margin-bottom: 10px;
  background-color: #FDF6EA !important;
}

.navbar-left {
  padding-right: 1.5rem
}
body {
  margin-left: 10px
} h1 {
  font-family: 'Arial';
}

ul{list-style-type:circle;}

.title {
  font-family: 'Monoton', cursive;
}
